#contenedor-principal {
  color: white;
  padding: 5px;
  font-size: 10px;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rectangulo {
  padding: 5px;
  margin: 5px;
}

.px {
  background-color: crimson;
  width: 200px;
}

.vw {
  background-color: magenta;
  width: 20vw;
}

.em {
  background-color: green;
  width: 15em;
}



